/*
header {background-color: #FFED74;}
nav {background-color:#E8C66A;}
section {background-color: #FFC675;}
footer { background-color: #FF957E;}
div {background-color: #FFE2B8;}*/

body {
	background-color: white; 
   margin: 0;
  padding: 0;

/*background-color: rgb(0,255,145); */
/*background-image: url("images/background.png");

background-repeat: no-repeat;
background-size: cover;
background-position: center center;
background-attachment: fixed;
*/
}



a:visited { text-decoration: none; color: rgb(200,200,200);}


a:link {
    text-decoration: none;}


.bold {
	font-weight:bold;
}


#right {
margin-top:3.5%;
margin-bottom:8%;
}

h1{ 
  /*float:left;*/
  font-size:50px;
  border-bottom: 1px solid black;


  text-decoration: none;
}

.menu {
  

 /* padding-left:1%;
  padding-right:1.5%;*/

  color: rgb(200,200,200);
  font-size: 1em;
  padding: 1% 1% 1% 1%;
  margin: 0 0 1% 0;

}


.bodytext, h1, p {
	
	color:#282828; 
	font-family: "Helvetica Neue";
	font-weight: 200;
	letter-spacing: .25px;
	line-height: 1.5em;
  display:inline;
/*background-color: gray;*/

}



#two_column {
  text-align: center;
   margin-top:2%;
   padding-left:1%;

margin-bottom:3.5%;
}

h1 {font-weight: lighter;
} 

p { font-size: 22px;}

#author { font-size: 14px; 
opacity:0.3;}

.menu:hover {
  color: rgb(255,20,120);
  background-color: rgb(30,60,255);

}

#wide {
    margin: 0% 1% 0% 1%;
}

/*===============Image Grid================*/


#photos {
   /* Prevent vertical gaps */
   line-height: 0px;

 
   -webkit-column-count: 5;
   -webkit-column-gap:   0;
   -moz-column-count:    5;
   -moz-column-gap:      0;
   column-count:         5;
   column-gap:           0;


}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}



@media (max-width: 2000px) {
  #photos {
 
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
/*@media (max-width: 1200px) {
  .white { display:none;}
  #photos {
  	
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
}

}*/

@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
  .white { display:none;}
}
@media (max-width: 800px) {
  #photos {
  	
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
  .white { visibility: hidden;}
}

.content img:hover {

    opacity:0.3;
    transition:all.5s;
     line-height: 0;


}



.content {
	overflow:hidden;
}
img:hover { cursor: pointer;}

.white {

  pointer-events:none;
}


/*=======================================================*/ 

/*#two_column {
   ;
 border: 1px black solid;
    padding: 20px;
   align:center;
}

#left {
    ;
border: 1px black solid;
    padding: 20px;
}


#left {
  ;
  
    padding: 10px;
    float: left;
    width: 10%;
}

#right {
   display:block;
    border: 1px black solid;
    padding: 20px;
}


#right {
   ;
   
    padding: 20px;
    float: right;   
    width: 80%;
}*/

/*.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
*/
/*=======================================================*/ 


#spacing {

  padding-bottom:8%;
}


#footer{clear:both;
text-align:center;
margin-bottom:3%;
font-size:12px;
color:#282828; 
  font-family: "Helvetica Neue";
  font-weight: 200;
  letter-spacing: 5px;
  line-height: 1.5em;}




/*===========================About me============================*/ 

/*=======================================================*/ 


#aboutme{

padding-top:13%;
padding-bottom:5%;
width:60%;
margin:auto;



}

#contact{
  padding-top:16%;
padding-bottom:9%;
width:60%;
margin:auto;


}










