
body {
	background-color: rgb(0,255,145); 
background-image: 
url("https://mir-s3-cdn-cf.behance.net/project_modules/hd/83c92040154587.5773ff5dc0051.png");
background-repeat: no-repeat;
}

.bodyText {
	font-weight: lighter;

}

h1, p {
	color: white; 
	text-align: center;
	font-family: "Helvetica Neue";
font-weight: bold;}

h1 {font-weight: lighter;} 

p { font-size: 14px; }

img {
    width: 100%;
    height: auto;}

