
body {
background-color: rgb(0,255,145); 
background-image: 
url("http://bit.ly/29J8oyu");

background-repeat: no-repeat;
background-size: contain;
background-position:center;

}

.bodyText {
	font-weight: lighter;

}

h1, p {
	color: white; 
	text-align: center;
	font-family: "Helvetica Neue";
font-weight: bold;}

h1 {font-weight: lighter;} 

p { font-size: 14px; }

img {
    width: 100%;
    height: auto;}

